<div class="panel panel-default">
	<div class="panel-heading">
		<strong>
			{{site.data.traducciones.terminos-horario-oficina | map : page.lang}}	
		</strong>
	</div>
	<ul class="list-group">
		<li class="list-group-item">
			{{site.data.traducciones.terminos-horario-oficina-diario | map : page.lang}}	
			07:00-23:00
		</li>
	</ul>
</div>

<div class="panel panel-default">
	<div class="panel-heading">
		<strong>
			{{site.data.traducciones.terminos-informacion-util | map : page.lang}}	
		</strong>
	</div>
	<ul class="list-group">
		<li class="list-group-item">
			{{site.data.traducciones.terminos-informacion-util-1 | map : page.lang}}	
		</li>
		<li class="list-group-item">
			{{site.data.traducciones.terminos-informacion-util-2 | map : page.lang}}	
		</li>
		<li class="list-group-item">
			{{site.data.traducciones.terminos-informacion-util-3 | map : page.lang}}	
		</li>
		<li class="list-group-item">
			{{site.data.traducciones.terminos-informacion-util-4 | map : page.lang}}	
		</li>
		<li class="list-group-item">
			{{site.data.traducciones.terminos-informacion-util-5 | map : page.lang}}	
			<u>
				{{site.data.traducciones.terminos-informacion-util-6 | map : page.lang}}	
			</u>
			{{site.data.traducciones.terminos-informacion-util-7 | map : page.lang}}	
			<u>
				{{site.data.traducciones.terminos-informacion-util-8 | map : page.lang}}	
			</u>
			{{site.data.traducciones.terminos-informacion-util-9 | map : page.lang}}	
		</li>
		<li class="list-group-item">
			{{site.data.traducciones.terminos-informacion-util-10 | map : page.lang}}	
		</li>

	</ul>
</div>

<div class="panel panel-default">
	<div class="panel-heading">
		<strong>
			{{site.data.traducciones.terminos-requerimientos | map : page.lang}}	
			:
		</strong>
	</div>
	<ul class="list-group">
		<li class="list-group-item">
			{{site.data.traducciones.terminos-requerimientos-1 | map : page.lang}}	
		</li>
		<li class="list-group-item">
			{{site.data.traducciones.terminos-requerimientos-2 | map : page.lang}}	
		</li>
		<li class="list-group-item">
			{{site.data.traducciones.terminos-requerimientos-3 | map : page.lang}}	
		</li>
		<li class="list-group-item">
			{{site.data.traducciones.terminos-requerimientos-4 | map : page.lang}}	
		</li>
		<li class="list-group-item">
			{{site.data.traducciones.terminos-requerimientos-5 | map : page.lang}}	
		</li>
		<li class="list-group-item">
			{{site.data.traducciones.terminos-requerimientos-6 | map : page.lang}}	
		</li>
	</ul>
</div>

<div class="panel panel-default">
	<div class="panel-heading">
		<strong>
			{{site.data.traducciones.terminos-tarifas-contenido | map : page.lang}}	
		</strong>
	</div>
	<ul class="list-group">
		<li class="list-group-item">
			{{site.data.traducciones.terminos-tarifas-contenido-1 | map : page.lang}}	
		</li>
		<li class="list-group-item">
			{{site.data.traducciones.terminos-tarifas-contenido-2 | map : page.lang}}	
		</li>
		<li class="list-group-item">
			{{site.data.traducciones.terminos-tarifas-contenido-3 | map : page.lang}}	
		</li>
		<li class="list-group-item">
			{{site.data.traducciones.terminos-tarifas-contenido-4 | map : page.lang}}	
		</li>
	</ul>
</div>

<div class="panel panel-default">
	<div class="panel-heading">
		<strong>
			{{site.data.traducciones.terminos-tarifas-no-contenido | map : page.lang}}	
		</strong>
	</div>
	<ul class="list-group">
		<li class="list-group-item">
			{{site.data.traducciones.terminos-tarifas-no-contenido-1 | map : page.lang}}	
		</li>
		<li class="list-group-item">
			{{site.data.traducciones.terminos-tarifas-no-contenido-2 | map : page.lang}}	
			:
		</li>
		<li class="list-group-item">
			{{site.data.traducciones.terminos-tarifas-no-contenido-3 | map : page.lang}}	
		</li>
		<li class="list-group-item">
			{{site.data.traducciones.terminos-tarifas-no-contenido-4 | map : page.lang}}	
		</li>
	</ul>
</div>

<div class="panel panel-default">
	<div class="panel-heading">
		<strong>
			{{site.data.traducciones.terminos-precios-pagar-destino | map : page.lang}}	
		</strong>
	</div>
	<ul class="list-group">
		<li class="list-group-item">
			{{site.data.traducciones.terminos-precios-pagar-destino-1 | map : page.lang}}	
		</li>
		<li class="list-group-item">
			{{site.data.traducciones.terminos-precios-pagar-destino-2 | map : page.lang}}	
		</li>
		<li class="list-group-item">
			{{site.data.traducciones.terminos-precios-pagar-destino-3 | map : page.lang}}	
		</li>
		<li class="list-group-item">
			{{site.data.traducciones.terminos-precios-pagar-destino-4 | map : page.lang}}	
		</li>
		<li class="list-group-item">
			{{site.data.traducciones.terminos-precios-pagar-destino-5 | map : page.lang}}	
		</li>
		<li class="list-group-item">
			{{site.data.traducciones.terminos-precios-pagar-destino-6 | map : page.lang}}	
		</li>
		<li class="list-group-item">
			{{site.data.traducciones.terminos-precios-pagar-destino-7 | map : page.lang}}	
		</li>
		<li class="list-group-item">
			{{site.data.traducciones.terminos-precios-pagar-destino-8 | map : page.lang}}	
		</li>
		<li class="list-group-item">
			{{site.data.traducciones.terminos-precios-pagar-destino-9 | map : page.lang}}	
		</li>
		<li class="list-group-item">
			{{site.data.traducciones.terminos-precios-pagar-destino-10 | map : page.lang}}	
		</li>
		<li class="list-group-item">
			{{site.data.traducciones.terminos-precios-pagar-destino-11 | map : page.lang}}	
		</li>
		<li class="list-group-item"><b>
				{{site.data.traducciones.terminos-precios-pagar-destino-12 | map : page.lang}}	
			</b>
			{{site.data.traducciones.terminos-precios-pagar-destino-13 | map : page.lang}}	
		</li>
		<li class="list-group-item">
			{{site.data.traducciones.terminos-precios-pagar-destino-14 | map : page.lang}}	
			<li class="list-group-item">
				{{site.data.traducciones.terminos-precios-pagar-destino-15 | map : page.lang}}	
			</li>
			<li class="list-group-item">
				{{site.data.traducciones.terminos-precios-pagar-destino-16 | map : page.lang}}	
			</li>
			<li class="list-group-item">
				{{site.data.traducciones.terminos-precios-pagar-destino-17 | map : page.lang}}	
			</li>
			<li class="list-group-item">
				{{site.data.traducciones.terminos-precios-pagar-destino-18 | map : page.lang}}	
			</li>
			<li class="list-group-item">
				{{site.data.traducciones.terminos-precios-pagar-destino-19 | map : page.lang}}	
			</li>
			<li class="list-group-item">
				{{site.data.traducciones.terminos-precios-pagar-destino-20 | map : page.lang}}	
			</li>
			<li class="list-group-item">
				{{site.data.traducciones.terminos-precios-pagar-destino-21 | map : page.lang}}	
			</li>
		</li>
		<li class="list-group-item">
			<b>
				{{site.data.traducciones.terminos-precios-pagar-destino-22 | map : page.lang}}	
			</b>
			{{site.data.traducciones.terminos-precios-pagar-destino-23 | map : page.lang}}	
			<li class="list-group-item">
				{{site.data.traducciones.terminos-precios-pagar-destino-24 | map : page.lang}}	
			</li>
			<li class="list-group-item">
				{{site.data.traducciones.terminos-precios-pagar-destino-25 | map : page.lang}}	
			</li>
			<li class="list-group-item">
				{{site.data.traducciones.terminos-precios-pagar-destino-26 | map : page.lang}}	
			</li>
			<li class="list-group-item">
				{{site.data.traducciones.terminos-precios-pagar-destino-27 | map : page.lang}}	
			</li>
			<li class="list-group-item">
				{{site.data.traducciones.terminos-precios-pagar-destino-28 | map : page.lang}}	
			</li>
			<li class="list-group-item">
				{{site.data.traducciones.terminos-precios-pagar-destino-29 | map : page.lang}}	
			</li>
			<li class="list-group-item">
				{{site.data.traducciones.terminos-precios-pagar-destino-30 | map : page.lang}}	
			</li>
			{{site.data.traducciones.terminos-precios-pagar-destino-31 | map : page.lang}}	
		</li>
		<li class="list-group-item">
			<b>
				{{site.data.traducciones.terminos-precios-pagar-destino-32 | map : page.lang}}	
			</b>
			{{site.data.traducciones.terminos-precios-pagar-destino-33 | map : page.lang}}	
			<li class="list-group-item">
				{{site.data.traducciones.terminos-precios-pagar-destino-34 | map : page.lang}}	
			</li>
			<li class="list-group-item">
				{{site.data.traducciones.terminos-precios-pagar-destino-35 | map : page.lang}}	
			</li>
			<li class="list-group-item">
				{{site.data.traducciones.terminos-precios-pagar-destino-36 | map : page.lang}}	
			</li>
			<li class="list-group-item">
				{{site.data.traducciones.terminos-precios-pagar-destino-37 | map : page.lang}}	
			</li>
			<li class="list-group-item">
				{{site.data.traducciones.terminos-precios-pagar-destino-38 | map : page.lang}}	
			</li>
			<li class="list-group-item">
				{{site.data.traducciones.terminos-precios-pagar-destino-39 | map : page.lang}}	
			</li>
			<li class="list-group-item">
				{{site.data.traducciones.terminos-precios-pagar-destino-40 | map : page.lang}}	
			</li>
			{{site.data.traducciones.terminos-precios-pagar-destino-41 | map : page.lang}}	
		</li>
		<li class="list-group-item">
			{{site.data.traducciones.terminos-precios-pagar-destino-42 | map : page.lang}}	
		</li>
		<li class="list-group-item">
			{{site.data.traducciones.terminos-precios-pagar-destino-43 | map : page.lang}}	
		</li>
		<li class="list-group-item">
			{{site.data.traducciones.terminos-precios-pagar-destino-44 | map : page.lang}}	
		</li>
		<li class="list-group-item">
			{{site.data.traducciones.terminos-precios-pagar-destino-45 | map : page.lang}}	
		</li>
		<li class="list-group-item">
			{{site.data.traducciones.terminos-precios-pagar-destino-46 | map : page.lang}}	
		</li>
		<li class="list-group-item">
			{{site.data.traducciones.terminos-precios-pagar-destino-47 | map : page.lang}}	
		</li>
		<li class="list-group-item">
			{{site.data.traducciones.terminos-precios-pagar-destino-48 | map : page.lang}}	
		</li>
		<li class="list-group-item">
			{{site.data.traducciones.terminos-precios-pagar-destino-49 | map : page.lang}}	
		</li>
		<li class="list-group-item">
			{{site.data.traducciones.terminos-precios-pagar-destino-50 | map : page.lang}}	
		</li>
		<li class="list-group-item">
			{{site.data.traducciones.terminos-precios-pagar-destino-51 | map : page.lang}}	
		</li>
	</ul>
</div>

<div class="panel panel-default">
	<div class="panel-heading">
		<strong>
			{{site.data.traducciones.terminos-informacion-importante | map : page.lang}}	
			:
		</strong>
	</div>
	<ul class="list-group">
		<li class="list-group-item">
			{{site.data.traducciones.terminos-informacion-importante-1 | map : page.lang}}	
		</li>
		<li class="list-group-item">
			{{site.data.traducciones.terminos-informacion-importante-2 | map : page.lang}}	
		</li>
		<li class="list-group-item">
			{{site.data.traducciones.terminos-informacion-importante-3 | map : page.lang}}	
		</li>
		<li class="list-group-item">
			{{site.data.traducciones.terminos-informacion-importante-4 | map : page.lang}}	
		</li>
		<li class="list-group-item">
			{{site.data.traducciones.terminos-informacion-importante-5 | map : page.lang}}	
		</li>
		<li class="list-group-item">
			{{site.data.traducciones.terminos-informacion-importante-6 | map : page.lang}}	
		</li>
		<li class="list-group-item">
			{{site.data.traducciones.terminos-informacion-importante-7 | map : page.lang}}	
		</li>
		<li class="list-group-item">
			{{site.data.traducciones.terminos-informacion-importante-8 | map : page.lang}}	
		</li>
		<li class="list-group-item">
			{{site.data.traducciones.terminos-informacion-importante-9 | map : page.lang}}	
		</li>
		<li class="list-group-item">
			{{site.data.traducciones.terminos-informacion-importante-10 | map : page.lang}}	
		</li>
	</ul>
</div>

<div class="panel panel-default">
	<div class="panel-heading">
		<strong>
			{{site.data.traducciones.terminos-prolongaciones | map : page.lang}}:
		</strong>
	</div>
	<ul class="list-group">
		<li class="list-group-item">
			{{site.data.traducciones.terminos-prolongaciones-1 | map : page.lang}}	
		</li>
		<li class="list-group-item">
			{{site.data.traducciones.terminos-prolongaciones-2 | map : page.lang}}	
		</li>
	</ul>
</div>

<div class="panel panel-default">
	<div class="panel-heading">
		<strong>
			{{site.data.traducciones.terminos-politica-combustible | map : page.lang}}	
			:
		</strong>
	</div>
	<ul class="list-group">
		<li class="list-group-item">
			<b>
				{{site.data.traducciones.terminos-politica-combustible-1 | map : page.lang}}	
				<br>
			</u>
		</b>
		<u>
			{{site.data.traducciones.terminos-politica-combustible-2 | map : page.lang}}	
			:
		</u>
		<br>
		<b>
			{{site.data.traducciones.terminos-politica-combustible-3 | map : page.lang}}	
		</b>
		:{{site.data.traducciones.terminos-politica-combustible-4 | map : page.lang}}	
		:
		<br>
		{{site.data.traducciones.terminos-politica-combustible-5 | map : page.lang}}	
		:
		<u>
			{{site.data.traducciones.terminos-politica-combustible-6 | map : page.lang}}	
		</u>
		<br>
		<b>
			{{site.data.traducciones.terminos-politica-combustible-7 | map : page.lang}}	
		</b>
		{{site.data.traducciones.terminos-politica-combustible-8 | map : page.lang}}	
		<br>
		{{site.data.traducciones.terminos-politica-combustible-9 | map : page.lang}}	
	</li>
</ul>
</div>

<div class="panel panel-default">
	<div class="panel-heading">
		<strong>
			{{site.data.traducciones.terminos-cancelaciones | map : page.lang}}	
		</strong>
	</div>
	<ul class="list-group">
		<li class="list-group-item">
			{{site.data.traducciones.terminos-cancelaciones-1 | map : page.lang}}	
		</li>
	</ul>
</div>

<div class="panel panel-default">
	<div class="panel-heading">
		<strong>
			{{site.data.traducciones.terminos-cancelaciones-2 | map : page.lang}}	
		</strong>
	</div>
	<ul class="list-group">
		<li class="list-group-item">
			{{site.data.traducciones.terminos-cancelaciones-3 | map : page.lang}}	
		</li>
	</ul>
</div>

