<div class="container legible">
	<h1 class="main-title">
		{{ site.data.idiomas.politica-cookies.titulo-pagina | map : page.lang }}
	</h1>
	<h3 class="subtitle underline-orange">
		{{ site.data.idiomas.politica-cookies.titulo-cookies-1 | map : page.lang }}
	</h3>
	<p>
		{{ site.data.idiomas.politica-cookies.parrafo-1 | map : page.lang }}
	</p>
	<h3 class="subtitle underline-orange">
		{{ site.data.idiomas.politica-cookies.titulo-cookies-2 | map : page.lang }}
	</h3>
	<p>
		{{ site.data.idiomas.politica-cookies.parrafo-2 | map : page.lang }}
	</p>
	<p>
		{{ site.data.idiomas.politica-cookies.parrafo-3 | map : page.lang }}
	</p>
	
	<table class="margin-bottom-25">
		<tbody>
			<tr>
				<th>
					{{ site.data.idiomas.politica-cookies.tabla-cabecera-1 | map : page.lang }}
				</th>
				<th>
					{{ site.data.idiomas.politica-cookies.tabla-cabecera-2 | map : page.lang }}
				</th>
			</tr>
			<tr class="underline">
				<td>
					{{ site.data.idiomas.politica-cookies.tabla-fila-1-1 | map : page.lang }}					
				</td>
				<td>
					{{ site.data.idiomas.politica-cookies.tabla-fila-1-2 | map : page.lang }}
				</td>
			</tr>
			<tr class="underline">
				<td>
					{{ site.data.idiomas.politica-cookies.tabla-fila-2-1 | map : page.lang }}
				</td>
				<td>
					{{ site.data.idiomas.politica-cookies.tabla-fila-2-2 | map : page.lang }}
				</td>
			</tr>	
			<tr class="underline">
				<td>
					{{ site.data.idiomas.politica-cookies.tabla-fila-3-1 | map : page.lang }}
				</td>
				<td>
					{{ site.data.idiomas.politica-cookies.tabla-fila-3-2 | map : page.lang }}
				</td>
			</tr>
			<tr>
				<td>
					{{ site.data.idiomas.politica-cookies.tabla-fila-4-1 | map : page.lang }}
				</td>
				<td>
					{{ site.data.idiomas.politica-cookies.tabla-fila-4-2 | map : page.lang }}
				</td>
			</tr>
		</tbody>
	</table>

	<p>
		<span>
		{{ site.data.idiomas.politica-cookies.enlaces | map : page.lang }}
		</span>
	</p>
	<p>
		Chrome:&nbsp;
		<a target="_blank" href="http://support.google.com/chrome/bin/answer.py?hl=es&amp;answer=95647">
			http://support.google.com/chrome/bin/answer.py?hl=es&amp;answer=95647
		</a>
		<br>
		Firefox:&nbsp;
		<a target="_blank" href="http://support.mozilla.org/es/products/firefox/cookies">
			http://support.mozilla.org/es/products/firefox/cookies
		</a>
		<br>
		Internet Explorer:&nbsp;
		<a target="_blank" href="http://windows.microsoft.com/es-es/windows7/how-to-manage-cookies-in-internet-explorer-9">
			http://windows.microsoft.com/es-es/windows7/how-to-manage-cookies-in-internet-explorer-9
		</a>
		<br>
		Safari:&nbsp;
		<a target="_blank" href="http://support.apple.com/kb/ph5042">
			http://support.apple.com/kb/ph5042
		</a>
	</p>
</div>